@model Category

<!-- titolo -->
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingTitle" asp-for="Name">
    <label for="floatingTitle">Titolo</label>
    <span class="text-danger" asp-validation-for="Name"></span>
</div>

<!-- descrizione -->
<div class="form-floating mb-3">
    <textarea class="form-control" id="floatingTextarea" style="height: 200px" asp-for="Description"></textarea>
    <label for="floatingTextarea">Descrizione</label>
    <span class="text-danger" asp-validation-for="Description"></span>
</div>

<!-- invia -->
<button class="btn btn-outline-secondary" type="submit" id="inputGroupFile">Invia</button>

