@{
    ViewData["Title"] = "Home Page";
}

<div class="col-12">
    <div class="d-flex justify-content-between align-items-center py-5">
        <h1>Homepage</h1>
        <div>
            <input type="text" class="form-control" placeholder="Cerca per nome" onkeyup="getAllPhotos(this.value)" />
        </div>
    </div>

    <div class="row" id="photo_list">
        
    </div>
    <div id="no_photos" class="d-none">
        <h2>Nessuna foto da mostrare</h2>
    </div>
    <div class="d-none py-5 text-center" id="loader">
        <h2>Cerco le foto...</h2>
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
            </div>
        </div>
    </div>

    <button class="btn btn-outline-dark btn_message" data-bs-toggle="modal" data-bs-target="#modal">
        <i class="fa-regular fa-comment"></i>
    </button>
    <!-- Modal -->
    @Html.Partial("_MessageModal")
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/API/index.js"></script>
}